body {
  background-color: #000000;
  margin: 50;
  font-family: 'Fira Sans';
  font-size: 14px;
  color: rgb(255, 255, 255);
}

body p {
  color: rgb(255, 255, 255);
}

/* Center all images, videos, and text on the page */
fa {
  padding: 30px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

#myVideo {
  width: 100px; /* Adjust the width as desired */
  height: auto; /* Maintain aspect ratio */
}

#iframe-container {
  display: flex;
  justify-content: center;
}
